@import url("fonts.css");

@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@custom-variant dark (&:where(.dark, .dark *));

html {
	overflow: hidden;
	height: 100%;
}

body {
	overflow: auto;
	height: 100%;
}

*, ::after, ::before, ::backdrop, ::file-selector-button {
	border-color: var(--color-gray-200, currentColor);
}

button, input[type="radio"], input[type="checkbox"], input[type="range"], input[type="color"] {
	@apply cursor-pointer;
}

select {
	@apply appearance-none;
	@apply px-2 py-1;
	@apply text-sm text-neutral-700 dark:text-neutral-300;
	@apply bg-neutral-100 dark:bg-neutral-700;
	@apply border-2 dark:border-neutral-900 rounded-md outline-hidden;
	@apply cursor-pointer;
}

.select-wrapper {
	@apply relative;
}

.select-wrapper::after {
	@apply absolute right-4 top-[47.5%] -translate-y-1/2;
	@apply w-2 h-2 rotate-45;
	@apply border-r-2 border-b-2;
	@apply pointer-events-none content-["_"];
}

.plugin-readme h1, .plugin-readme h2, .plugin-readme h3, .plugin-readme h4, .plugin-readme h5, .plugin-readme h6 {
	@apply font-medium dark:text-neutral-200;
}
.plugin-readme h1:not(:first-child), .plugin-readme h2:not(:first-child), .plugin-readme h3:not(:first-child) {
	@apply mt-5;
}
.plugin-readme h1, .plugin-readme h2, .plugin-readme h3 {
	@apply mb-3 pb-1.5 border-b border-neutral-300 dark:border-neutral-600;
}
.plugin-readme h1 {
	@apply text-2xl;
}
.plugin-readme h2 {
	@apply text-xl;
}
.plugin-readme h3 {
	@apply text-lg;
}
.plugin-readme a {
	@apply text-blue-600 dark:text-blue-400 hover:underline cursor-pointer;
}
.plugin-readme ul {
	@apply list-disc ml-6;
}
.plugin-readme img {
	@apply my-3;
}
